/*
Adapted from and inspired by:
- Allison Hill's css in this workshop:
https://github.com/rstudio-education/arm-workshop-rsc2019
- Silvia Canelón's css in this workshop:
https://silvia.rbind.io/talk/2020-11-03-xaringan-basics-and-beyond/
*/

/*--- COLOR VARIABLES ---*/

:root {
  --color-white:      #FFFFFF;
  --color-red:        #E74A2F;
  --color-orange:     #fa7b3c;
  --color-yellow:     #EFB73E;
  --color-gold:       #e5bf00;
  --color-green:      #38B44A;
  --color-darkgreen:  #2c8475;
  --color-blue:       #007bff;
  --color-lightblue:  #cce5ff;
  --color-dodgerblue: #1E90FF;
  --color-darkblue:   #003087;
  --color-purple:     #772953;
  --color-black:      #121212;
  --color-graylight:  #EAE9EA;
  --color-gray:       #696969;
  --color-tan:        #d9d9d9;
}

/*--- LINKS/ANCHORS ---*/

a {
  color: var(--color-blue);
  border-bottom: none;
}

a:visited {
  color: var(--color-purple);
  border-bottom: none;
}

a:hover, a:focus {
  color: var(--color-purple);
  background: rgba(97, 172, 240, .5);
  border-bottom: none;
}

a > code {
  color: var(--color-blue);
  text-decoration: none;
}

/*--- SLIDE PROPERTIES ---*/

.inverse a, .inverse a:visited {
  color: var(--color-dodgerblue );
  text-decoration: underline;
}

.inverse a:hover, a:focus {
  color: var(--color-purple);
}

/* Background glow color around main slide container */
.remark-slide-scaler {
  -moz-box-shadow: 0 0 0px #000;
  -webkit-box-shadow: 0 0 0px #000;
}

/* Background color of container behind slide */
.remark-slide-container {
  background-color: var(--color-gray);
}

/* Background color of slide */
.remark-slide-content {
  background-color: var(--color-graylight);
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
}

.title-slide {
  padding: 0;
}

/*--- CODE ---*/

/* Background color for highlighted code */
.remark-code-line-highlighted {
  background-color: rgb(206, 233, 255);  /*light blue*/
}

/* Color of inline code, i.e. `code` */
.remark-inline-code {
  color: var(--color-darkgreen);
  background-color: transparent;
  border-radius: 5px; /* Rounded edges */
}

.inverse .remark-inline-code {
  color: var(--color-orange);
  background-color: transparent;
}

/* Code chunk colors */
.hljs-github .hljs {
  background: #fff;
  border-radius: 5px; /* Rounded edges */
  border: 1px solid #000;
}

/* Code chunk output */
.remark-code {
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: #fff;
  background: var(--color-gray);
}

.inverse {
  background-color: var(--color-black);
  color: var(--color-white);
  text-shadow: 0 0 0;
}

/* https://stackoverflow.com/questions/50919104/horizontally-scrollable-output-on-xaringan-slides */

pre {
  background-color: #000;
  border-radius: 5px; /* Rounded edges */
  max-width: 100%;
  overflow-x: auto;
  margin: 0.5em 0px;
}

/* FOOTER */

.remark-slide-number {
  bottom: 18px;
  opacity: 0.5;
  position: absolute;
  right: 20px;
}

.footnote {
  position:      absolute;
  bottom:        2em;
  padding-right: 4em;
  font-size:     70%;
  line-height:   1em;
}

div.footer-large {
  position: absolute;
  bottom: 150px;
  right: 50px;
  height: 100px;
  width: 100%;
  margin-bottom: 0px;
}

div.footer-small {
  background-color: var(--color-black);
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 20px;
  width: 100%;
}

div.footer-small span {
  font-size: 10pt;
  color: var(--color-white);
  position: absolute;
  left: 15px;
  bottom: 2px;
}

div.footer-link {
  background-color: var(--color-black);
  position:         absolute;
  bottom:           0px;
  left:             0px;
  height:           30px;
  width:            100%;
}

a.footer-link {
  position:       absolute;
  bottom:         4px;
  right:          0px;
  height:         30px;
  width:          300px;
  color:          var(--color-blue);
  border-bottom:  none;
  font-size:      0.7em;
  opacity:        0.6;
}

/* IMAGES */

.polaroid img {
  display: block;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #111;
  -moz-box-shadow: 3px 3px 3px #111;
  box-shadow: 3px 3px 3px #111;
}

img {
  display: block;
  border: 0px solid #000;
}

.inverse img {
  display: block;
  border: 0px solid #000;
}

.noborder img {
  display: block;
  border: 0px solid #000;
}

.border img {
  display: block;
  border: 2px solid #000;
}

.borderthick img {
  display: block;
  border: 7px solid #000;
}

.whiteborder img {
  display: block;
  border: 2px solid #fff;
}

.whiteborderthick img {
  display: block;
  border: 7px solid #fff;
}

.circle img {
  border-radius:50%;
}

.thumbnail img {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--- COLUMN LAYOUTS ---*/

.cols3 {
  width: 32%;
  float: left;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
}
.leftcol {
  float: left;
  width: 49%;
}
.rightcol {
  float: right;
  width: 49%;
}
.leftcol55 {
  float: left;
  width: 54%;
}
.rightcol45 {
  float: right;
  width: 44%;
}
.leftcol45 {
  float: left;
  width: 44%;
}
.rightcol55 {
  float: right;
  width: 54%;
}
.leftcol60 {
  float: left;
  width: 59%;
}
.rightcol40 {
  float: right;
  width: 39%;
}
.leftcol40 {
  float: left;
  width: 39%;
}
.rightcol60 {
  float: right;
  width: 59%;
}
.leftcol65 {
  float: left;
  width: 64%;
}
.rightcol35 {
  float: right;
  width: 34%;
}
.leftcol35 {
  float: left;
  width: 34%;
}
.rightcol65 {
  float: right;
  width: 64%;
}
.leftcol70 {
  float: left;
  width: 69%;
}
.rightcol30 {
  float: right;
  width: 29%;
}
.leftcol30 {
  float: left;
  width: 29%;
}
.rightcol70 {
  float: right;
  width: 69%;
}
.leftcol75 {
  float: left;
  width: 74%;
}
.rightcol25 {
  float: right;
  width: 25%;
}
.leftcol25 {
  float: left;
  width: 25%;
}
.rightcol75 {
  float: right;
  width: 74%;
}
.leftcol80 {
  float: left;
  width: 79%;
}
.rightcol20 {
  float: right;
  width: 19%;
}
.leftcol20 {
  float: left;
  width: 19%;
}
.rightcol80 {
  float: right;
  width: 79%;
}

/* Table Row Highlighting */

.remark-slide table {
  border-collapse: collapse;
}

.remark-slide table thead th {
  border-bottom: 1px solid #666;
}

.remark-slide .inverse table, .remark-slide .inverse table thead th {
  border-top: 3px solid #666;
  border-bottom: 3px solid #666;
}

.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
  background: var(--color-tan);
}

.remark-slide .inverse thead, .remark-slide .inverse tfoot, .remark-slide .inverse tr:nth-child(even) {
  background: transparent;
}

.table-blank tr:nth-child(even) {
  background: transparent;
}

/* turns off slide numbers for title page: https://github.com/gnab/remark/issues/298 */
.title-slide .remark-slide-number {
  display: none;
}

.no-slide-number .remark-slide-number {
  display: none;
}