.remark-slide-content {
  background-color: #000000;
  border-top: 80px solid #555555;
  color: #FAFAFA; 
}

.remark-slide-content > h1 {
  font-family: 'Fira Sans';
  font-weight: normal;
  font-size: 42px;
  margin-top: -95px;
  margin-left: -00px;
  color: #FAFAFA;
}

.remark-slide-content table {
  background-color: white;
  color: black; 
}

.title-slide .inverse .remark-slide-content {
  background-color: #FAFAFA;
}

.inverse {
  background-color: #FAFAFA;
  border-top: 0px solid #555555;
  color: black;
}

.inverse h1{
  color: black; 
}

h1 {
  color: #FAFAFA;
}

h2, h3, h4 {
  color: #FAFAFA;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #1A292C;
}

.title-slide {
  background-color: #000000;
  border-top: 80px solid #000000;
}

.title-slide h1  {
  color: #FAFAFA;
}
.title-slide h2  {
  color: #FAFAFA;
}
.title-slide h3  {
  color: #FAFAFA;
}

hr, .title-slide h2::after, .mline h1::after {
  background-color: #FF77B7;
  color: #FF77B7;
}

.remark-slide-number {
  color: #FAFAFA;
}
.inverse .remark-slide-number {
  color: #272822;
}

.remark-inline-code {
  background: #F5F5F5;
  border-radius: 3px;
  color: #272822; 
  padding: 4px;
}

.clear{
  border-top: 0px solid #000000;
}

.red {
  color: #FF77B7;
}
.green {
  color: #5aa800;
}
.blue {
  color: #0098e9;
}
.yellow {
  color: #f29318;
}
.violet {
  color: #807ac8;
}
.brown {
  color: #ac8254;
}
.orange {
  color: #f97860;
}
.cyan {
  color: #6ad2ac;
}

/*Resize H1*/

.title-slide > h1  {
  color: #FAFAFA;
  font-size: 45px;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 15px;
  padding-top: 80px;
}
