/* Color Mod */
.remark-slide-content {
  background-color: #FAFAFA;
  border-top: 80px solid #D6D6F0;
}

.inverse {
  background-color: #D6D6F0;
  color: black; 
}

.title-slide .inverse .remark-slide-content {
  background-color: #FAFAFA;
}

.title-slide {
  background-color: #FAFAFA;
  border-top: 80px solid #FAFAFA;
}

h1 {
  color: #000000;
}

h2, h3, h4 {
  color: #4A4ABA;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #4A4ABA;
}

hr, .title-slide h2::after, .mline h1::after {
  background-color: #4A4ABA;
  color: #4A4ABA;
}

.remark-slide-content li::marker {
  color: #4A4ABA;
}

.remark-inline-code {
  background: #e7e8e2; /* darker */
  color: #000080;
}

.clear{
  border-top: 0px solid #4A4ABA;
}

.red {
  color: #FF3636;
}
.green {
  color: #3C9E3C;
}
.blue {
  color: #1818FF;
}
.yellow {
  color: #f29318;
}
.violet {
  color: #807ac8;
}
.brown {
  color: #ac8254;
}
.orange {
  color: #f97860;
}
.cyan {
  color: #73e1b9;
}

/*Resize H1*/
.remark-slide-content > h1 {
  font-family: 'Fira Sans';
  font-weight: normal;
  font-size: 42px;
  margin-top: -95px;
  margin-left: -00px;
  color: #000000;
}