.red {
  color: #ff5ca8;
}
.green {
  color: #5aa800;
}
.blue {
  color: #0098e9;
}
.yellow {
  color: #f29318;
}
.violet {
  color: #807ac8;
}
.brown {
  color: #ac8254;
}
.orange {
  color: #f97860;
}
.cyan {
  color: #2da075;
}

.teal { color: #2E8B57; }
.purple { color: #8A4FFF; }


/*Resize H1*/
.remark-slide-content > h1 {
  font-family: 'Fira Sans';
  font-weight: normal;
  font-size: 42px;
  margin-top: -95px;
  margin-left: -00px;
  color: #FAFAFA;
}

.title-slide > h1  {
  color: #1A292C;
  font-size: 45px;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 15px;
  padding-top: 80px;
}


/* 定义楷体环境，替代中文斜体*/
@font-face {
  font-family: 'Kaiti';
  src:
    local('Kaiti TC Regular'),
    local(STKaiTi-TC-Regular),
    local('Kaiti TC'),
    local('Kaiti SC'),
    local(STKaiti),

    local(BiauKai),
    local('標楷體'),
    local(DFKaiShu-SB-Estd-BF),
    local(Kaiti),
    local(DFKai-SB)
  ;
  }

.kt {
  font-family: 'Kaiti';
}

body {
  font-family: 'Fira Sans', 'Microsoft YaHei', 'Source Han Sans TC Regular', 'PingFang TC', sans serif;
}
