/* Load Noto Sans TC from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700&display=swap&subset=chinese-traditional');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

/* 定义楷体环境，替代中文斜体 by Yisu Zhou */
@font-face {
  font-family: 'Kaiti';
  src:
    local('Kaiti TC Regular'),
    local(STKaiTi-TC-Regular),
    local('Kaiti TC'),
    local('Kaiti SC'),
    local(STKaiti),
    local(BiauKai),
    local('標楷體'),
    local(DFKaiShu-SB-Estd-BF),
    local(Kaiti),
    local(DFKai-SB)
  ;
}


body {
  font-family: 'Noto Sans TC', sans-serif; 
  font-weight: 400;
}


h1 {
  font-family: 'Noto Sans TC', sans-serif; 
  font-weight: 700;
}

h2, h3 {
  font-family: 'Noto Sans TC', sans-serif; 
  font-weight: 500;
}

.remark-code, .remark-inline-code { 
  font-family: 'Sarasa Mono TC', 'Source Code Pro', 'Inconsolata', 'Lucida Console', Monaco, monospace; color: #002c55; 
  background-color: #f3f3f3;  font-size: 90%; 
}

/* Kaiti Mod by Yisu Zhou */
.kt {
  font-family: 'Kaiti';
}

.code70 .remark-code {
  font-size: 70%;
}
