.title-slide, title-slide h1, .title-slide h2, .title-slide h3,
.remark-slide .title-slide,
.remark-slide .title-slide h1,
.remark-slide .title-slide h2,
.remark-slide .title-slide h3 {
  background-color: #fff;
  color: #222;
}
.title-slide h3,
.remark-slide .title-slide h3 {
  font-family: 'Roboto Condensed', 'Avenir Next', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 400;
  padding-top: 15px;
  font-size: 28px;
}
.title-slide h3:nth-of-type(2),
.remark-slide .title-slide h3:nth-of-type(2) {
  margin-top: 10px;
  font-size: 28px;
}
.title-slide table,
.remark-slide .title-slide table {
  padding-top: 35px;
}
.title-slide i.fa,
.remark-slide .title-slide i.fa {
  font-size: 2em;
}
a, a > code {
  color: #0051BA;
  text-decoration: none;
}
a:hover, a:hover > code {
  color: #d22;
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
.remark-code-line-highlighted { background-color: #ffaaff; }

.inverse {
  background-color: #0051BA;
  color: #fff;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #fff;
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
table {
  margin: auto;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}
table thead th { border-bottom: 1px solid #222; }
th, td { padding: 2px 5px; }
thead, tfoot, tr:nth-child(even) { background: #f0f0f0 }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100%;
    height: 100%;
    transform: scale(1);
    top: 0;
    left: 0;
  }
}


.code10 .remark-code {
  font-size: 10%;
}

.code20 .remark-code {
  font-size: 20%;
}

.code30 .remark-code {
  font-size: 30%;
}

.code40 .remark-code {
  font-size: 40%;
}

.code50 .remark-code {
  font-size: 50%;
}

.code60 .remark-code {
  font-size: 60%;
}

.code70 .remark-code {
  font-size: 70%;
}

.code80 .remark-code {
  font-size: 80%;
}

.code90 .remark-code {
  font-size: 90%;
}

.code100 .remark-code {
  font-size: 100%;
}

.font10 {
  font-size: 10%;
}

.font20 {
  font-size: 20%;
}

.font30 {
  font-size: 30%;
}

.font40 {
  font-size: 40%;
}

.font50 {
  font-size: 50%;
}

.font60 {
  font-size: 60%;
}

.font70 {
  font-size: 70%;
}

.font80 {
  font-size: 80%;
}

.font90 {
  font-size: 90%;
}

.font100 {
  font-size: 100%;
}

.font110 {
  font-size: 110%;
}

.font120 {
  font-size: 120%;
}

.font130 {
  font-size: 130%;
}

.font140 {
  font-size: 140%;
}

.font150 {
  font-size: 150%;
}

.font160 {
  font-size: 160%;
}
.font170 {
  font-size: 170%;
}
.font180 {
  font-size: 180%;
}
.font190 {
  font-size: 190%;
}
.font200 {
  font-size: 200%;
}
